<% provide(:title, @user.name) %>
<aside class="span4">
<section>
<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>
</section>
</aside>

<% if @user.articles.any? %>
	<h3>Articles (<%= @user.articles.count %>) </h3>
	<ol class="articles">
		<%= render @articles %>
	</ol>
	<%= will_paginate @articles %>
<% end %>
